body {
    background-image: url("../images/background3.jpg");
    background-size: 100%;
   
    
}

.jumbotron {
    background-color: dodgerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-fluid {
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    padding: 0!important;
}

.gameGrid {
    margin-top: 20px;
    background-color: white;
}

.gameImage {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#top-games-header {
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

#t-table {
    border: 1px solid black;
}

.stream-thumbnail {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    
}

.streamer-name {
    color: black;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stream-title {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#top-streams-header {
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

iframe {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
    
}

.modal-text {
    text-align: center;
}

.btn-modal {
    margin: auto;

}

.modal {
    margin-top: 100px;
}

.btn {
    background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
    background-color: RoyalBlue;
}

.gameGrid {
    background-color: dodgerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}




