body {
    /* background-image: url("../images/project1.2.jpg"); */
    background-size: 100%;
}

.gameGrid {
    margin-top: 20px;
    background-color: white;
}

.gameImage {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#top-games-header {
    margin-bottom: 20px;
}

#t-table {
    border: 1px solid black;
}

.stream-thumbnail {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    
}

.streamer-name {
    color: black;
    font-size: 25px;
}

.stream-title {
    font-size: 15px;
}

#top-streams-header {
    margin-bottom: 20px;
}

iframe {
    width: 100%;
    height: 250px
    
}


